@using ProductsDatabase.Models
@model IEnumerable<Product>

@{
    Layout = null;
}

@foreach (var p in Model)
{
    <p><b>@p.ProductName </b></p>
    <p>@p.ProductCategory</p>
    <p>@p.ProductDescription</p>
    <p>@p.ProductPrice.ToString("c")</p>
    <br />
    <br />
}
